<li id='<%= dom_id(job) %>' class="job <%= job.statuses.join(' ') %> <%= cycle 'odd', 'even' %>">
  <div class="summary">
    <span>
      <%= job.run_at.to_s(:short) %>
    </span>
    <span class="actions">
      <%= link_to 'delete', delayed_job_path(job), :method => :delete, :class => 'dangerous' %>
    </span>
    <span>
      <% job.statuses.each do |status| %>
        <%= content_tag(:span, status, :class => status) %> 
      <% end %>
    </span>
    <div><a href="#details_link" class="details_link"><%= job.humanized_handler %></a></div>
  </div>
  <div class="details">
    <table>
      <tr>
        <th>Handler</th>
        <th>Run Date</th>
        <th>Priority</th>
        <th>Locked</th>
        <th>Attempts</th>
        <th>Failed</th>
        <th>Created</th>
        <th>Updated</th>
      </tr>
      <tr>
        <td><%= job.humanized_handler %></td>
        <td>
          <% if job.run_at? %>
            <%= job.run_at.to_s(:short) %>
          <% end %>
        </td>
        <td><%= job.priority %></td>
        <td>
          <% if job.locked_by? %>
            Locked by <%= job.locked_by %> on <%= job.locked_at.to_s(:short)  %>
          <% end %>
        </td>
        <td><%= job.attempts %></td>
        <td>
           <% if job.failed_at? %>
             <%= job.failed_at.to_s(:short)  %>
           <% end %>
        </td>
        <td><%= job.created_at.to_s(:short) %></td>
        <td><%= job.updated_at.to_s(:short) %></td>
      </tr>
      <% if job.last_error %>
        <tr>
          <td colspan='8' class='backtrace'>
            <pre>
              <%= job.last_error %>
            </pre>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</li>    
 