<%= javascript_include_tag 'delayed_job_admin' %>
<%= stylesheet_link_tag 'delayed_job_admin' %>

<h2><%= @dj_admin_settings['heading'] || "Jobs" %></h2>

<div id="delayed_job_admin">
  <div class="overview">
    <% @statistics.each do |title, count| %>
      <a class="<%= title %>_jobs statistic <%= 'active' if title == :total %>" href="#">
        <span class="count"><%= count %></span>
        <span class="title"><%= title %></span>
      </a>
    <% end %>
  </div>
  <ul class="jobs">
    <%= render :partial => 'job', :collection => @jobs %>
  </ul>
</div>

